In [1]:
import turicreate as tc

In [2]:
people = tc.SFrame('people_wiki/')

In [3]:
people

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [10]:
obama = people[people['name'] == 'Barack Obama']

In [11]:
obama

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'strike': 1.0, 'african':... |
+-------------------------------+
[? rows x 4 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [8]:
#Using the text analytics to count words
people['word_count'] = tc.text_analytics.count_words(people['text'])

In [12]:
print (obama['word_count'])

[{'strike': 1.0, 'african': 1.0, 'states': 3.0, 'proposition': 1.0, 'equality': 1.0, 'laureateduring': 1.0, 'against': 1.0, 'defense': 1.0, 'osama': 1.0, 'budget': 1.0, 'worked': 1.0, 'honolulu': 1.0, 'hussein': 1.0, 'often': 1.0, 'or': 1.0, '2009': 3.0, 'operation': 1.0, 'recovery': 1.0, 'on': 2.0, 'first': 3.0, 'months': 1.0, 'administration': 1.0, 'years': 1.0, 'insurance': 1.0, 'democratic': 4.0, 'senate': 3.0, 'doddfrank': 1.0, 'iraq': 4.0, 'victory': 1.0, 'shooting': 1.0, 'affordable': 1.0, 'received': 1.0, 'sandy': 1.0, 'foreign': 2.0, 'before': 1.0, 'terms': 1.0, 'treaty': 1.0, 'running': 1.0, 'process': 1.0, 'major': 1.0, 'reauthorization': 1.0, 'second': 2.0, 'street': 1.0, 'began': 1.0, 'office': 2.0, 'sufficient': 1.0, 'full': 1.0, 'defeating': 1.0, 'degree': 1.0, 'raise': 1.0, 'hillary': 1.0, 'promoted': 1.0, 'during': 2.0, 'november': 2.0, 'californias': 1.0, 'economic': 1.0, '2004': 3.0, '13th': 1.0, 'afghanistan': 2.0, 'reelected': 1.0, 'continued': 1.0, 'sworn': 1.0, 'by': 1.0, 'a': 7.0, '2012': 1.0, 'protection': 2.0, 'form': 1.0, 'inaugurated': 1.0, 'served': 2.0, 'in': 30.0, 'while': 1.0, 'harvard': 2.0, 'nine': 1.0, 'troop': 1.0, 'won': 1.0, 'president': 4.0, 'united': 3.0, 'attorney': 1.0, 'state': 1.0, 'act': 8.0, 'term': 3.0, 'mitt': 1.0, 'americans': 1.0, 'regained': 1.0, 'with': 3.0, 'creation': 1.0, 'represent': 1.0, 'american': 3.0, '2000in': 1.0, 'cuba': 1.0, 'district': 1.0, 'prize': 1.0, 'close': 1.0, 'then': 1.0, 'down': 1.0, 'made': 1.0, 'august': 1.0, 'constitutional': 1.0, 'lengthy': 1.0, 'reform': 1.0, '1996': 1.0, '63': 1.0, 'representing': 1.0, 'response': 3.0, 'three': 1.0, 'referred': 1.0, 'nobel': 1.0, 'organizer': 1.0, 'combat': 1.0, 'unconstitutional': 1.0, 'operations': 1.0, 'ended': 1.0, 'war': 1.0, 'campaign': 3.0, '1997': 1.0, 'january': 3.0, 'court': 1.0, '2010': 2.0, 'policies': 1.0, 'ii': 1.0, 'taxpayer': 1.0, 'at': 2.0, 'where': 1.0, 'job': 1.0, 'domestic': 2.0, 'current': 1.0, 'was': 5.0, 'legislation': 1.0, 'debt': 1.0, 'relief': 2.0, 'reinvestment': 1.0, 'national': 2.0, 'arms': 1.0, 'normalize': 1.0, 'two': 1.0, 'filed': 1.0, 'signed': 3.0, 'after': 4.0, 'election': 3.0, 'chicago': 2.0, 'not': 1.0, 'which': 1.0, 'presidential': 2.0, 'over': 1.0, 'born': 2.0, 'columbia': 1.0, '1961': 1.0, 'start': 1.0, 'peace': 1.0, 'patient': 1.0, 'withdrawal': 1.0, 'for': 4.0, 'repeal': 1.0, 'control': 4.0, 'policy': 2.0, 'sought': 1.0, 'great': 1.0, 'lgbt': 1.0, 'review': 1.0, '1992': 1.0, 'relations': 1.0, 'address': 1.0, '2008': 1.0, 'john': 1.0, 'husen': 1.0, 'republicans': 1.0, 'russia': 1.0, 'from': 3.0, 'attention': 1.0, 'death': 1.0, 'new': 1.0, 'laden': 1.0, '8': 1.0, 'republican': 2.0, 'ordered': 3.0, 'initiatives': 1.0, '20': 2.0, 'convention': 1.0, 'community': 1.0, 'bin': 1.0, 'obama': 9.0, 'july': 1.0, 'defeated': 1.0, 'other': 1.0, 'the': 40.0, '2013': 1.0, 'federal': 1.0, 'islamic': 1.0, 'gun': 1.0, 'nations': 1.0, 'gains': 1.0, 'stimulus': 1.0, 'university': 2.0, 'graduate': 1.0, 'receive': 1.0, '2007': 1.0, 'rights': 1.0, 'of': 18.0, 'he': 7.0, 'total': 1.0, 'taught': 1.0, 'delegates': 1.0, '2011': 3.0, 'bm': 1.0, 'lost': 1.0, 'mccain': 1.0, 'care': 1.0, 'whether': 1.0, 'and': 21.0, 'limit': 1.0, 'earning': 1.0, 'to': 14.0, 'illinois': 2.0, 'us': 6.0, 'barack': 1.0, 'hook': 1.0, 'house': 2.0, 'is': 2.0, 'named': 1.0, 'ending': 1.0, 'obamacare': 1.0, 'spending': 1.0, 'libya': 1.0, 'representatives': 2.0, 'briefs': 1.0, 'unemployment': 1.0, '4': 1.0, 'march': 1.0, 'called': 1.0, 'included': 1.0, 'into': 1.0, 'that': 1.0, 'romney': 1.0, 'increased': 1.0, 'recession': 1.0, 'military': 4.0, 'nomination': 1.0, 'marriage': 1.0, 'school': 3.0, 'rodham': 1.0, 'resulted': 1.0, 'law': 6.0, 'urged': 1.0, 'primary': 2.0, 'wall': 1.0, 'brk': 1.0, 'consumer': 1.0, 'dont': 2.0, 'ask': 1.0, 'tell': 1.0, 'as': 6.0, 'general': 1.0, 'elementary': 1.0, 'involvement': 3.0, 'keynote': 1.0, '2012obama': 1.0, 'primaries': 1.0, 'has': 4.0, 'seats': 1.0, 'nominee': 2.0, 'unsuccessfully': 1.0, 'clinton': 1.0, 'party': 3.0, 'debate': 1.0, 'related': 1.0, 'tax': 1.0, 'levels': 1.0, 'hold': 1.0, 'hawaii': 1.0, '44th': 1.0, 'supreme': 1.0, 'civil': 1.0, 'his': 11.0}, ... ]

In [13]:
# Creates a Table of the word COunt in a stacking type of way
obama_word_count_table = obama[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [15]:
#sorts the table Descendingly according to the count
obama_word_count_table.sort('count' , ascending= False)

Columns:
	word	str
	count	float

Rows: 273

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  40.0 |
|   in  |  30.0 |
|  and  |  21.0 |
|   of  |  18.0 |
|   to  |  14.0 |
|  his  |  11.0 |
| obama |  9.0  |
|  act  |  8.0  |
|   a   |  7.0  |
|   he  |  7.0  |
+-------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [16]:
#EXPLORING TF-IDF vectors

In [18]:
tfidf = tc.text_analytics.tf_idf(people['word_count'])

In [24]:
tfidf

59071

In [21]:
people['tf-idf'] = tfidf

In [30]:
obama = people[people['name'] == 'Barack Obama']
obama

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tf-idf	dict

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tf-idf            |
+-------------------------------+-------------------------------+
| {'strike': 1.0, 'african':... | {'strike': 5.0254900496019... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [33]:
obama[['tf-idf']].stack('tf-idf' , new_column_name=['word' , 'tf-idf']).sort('tf-idf' , ascending=False)

Columns:
	word	str
	tf-idf	float

Rows: 273

Data:
+-------------+--------------------+
|     word    |       tf-idf       |
+-------------+--------------------+
|    obama    |  43.2956530720749  |
|     act     | 27.67822262297991  |
|     iraq    | 17.747378587965535 |
|   control   | 14.887060845181308 |
|     law     | 14.722935761763422 |
|   ordered   | 14.533373950913514 |
|   military  | 13.115932778499415 |
| involvement | 12.784385241175055 |
|   response  | 12.784385241175055 |
|  democratic | 12.410688697332166 |
+-------------+--------------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### Manually Calculating the distances or 'similarity' b/w 2 docs

In [34]:
clinton = people[people['name'] == 'Bill Clinton']
beckham = people[people['name'] == 'David Beckham']

In [35]:
#Using COSINE distance means : LOWER the BETTER
tc.distances.cosine(obama['tf-idf'][0] ,beckham['tf-idf'][0])

0.9791305844747478

In [36]:
tc.distances.cosine(obama['tf-idf'][0] ,clinton['tf-idf'][0])

0.8339854936884276

In [37]:
#Building a KNN model

knn_model = tc.nearest_neighbors.create(people , features=['tf-idf'] , label ='name')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [38]:
#Applying The Nearest Neighbour Model
knn_model.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 32.251ms     |

| Done         |         | 100         | 329.963ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+--------------------+------+
| query_label | reference_label |      distance      | rank |
+-------------+-----------------+--------------------+------+
|      0      |   Barack Obama  |        0.0         |  1   |
|      0      |    Joe Biden    | 0.7941176470588236 |  2   |
|      0      |  Joe Lieberman  | 0.7946859903381642 |  3   |
|      0      |   Kelly Ayotte  | 0.8119891008174387 |  4   |
|      0      |   Bill Clinton  | 0.8138528138528138 |  5   |
+-------------+-----------------+--------------------+------+
[5 rows x 4 columns]

In [55]:
knn_model.query(people[people['name'] == 'Kajol'])

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 28.995ms     |

| Done         |         | 100         | 255.37ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------------+--------------------+------+
| query_label |    reference_label     |      distance      | rank |
+-------------+------------------------+--------------------+------+
|      0      |         Kajol          |        0.0         |  1   |
|      0      |     Madhuri Dixit      | 0.7667844522968198 |  2   |
|      0      |     Karisma Kapoor     | 0.7751677852348993 |  3   |
|      0      | Aishwarya Rai Bachchan |       0.7875       |  4   |
|      0      |     Jaya Bachchan      | 0.7924528301886793 |  5   |
+-------------+------------------------+--------------------+------+
[5 rows x 4 columns]

In [56]:
elton = people[people['name'] == 'Elton John']

In [58]:
elton[['tf-idf']].stack('tf-idf' , new_column_name=['word' , 'tf-idf']).sort('tf-idf' , ascending=False)

Columns:
	word	str
	tf-idf	float

Rows: 255

Data:
+---------------+--------------------+
|      word     |       tf-idf       |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
|  overallelton | 10.986495389225194 |
| tonightcandle | 10.986495389225194 |
|    19702000   | 10.293348208665249 |
|   fivedecade  | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [59]:
elton[['word_count']].stack('word_count' , new_column_name=['word' , 'count']).sort('count' , ascending=False)

Columns:
	word	str
	count	float

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  27.0 |
|   in  |  18.0 |
|  and  |  15.0 |
|   of  |  13.0 |
|   a   |  10.0 |
|  has  |  9.0  |
|   he  |  7.0  |
|  john |  7.0  |
|   on  |  6.0  |
| since |  5.0  |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [60]:
victoria = people[people['name'] == 'Victoria Beckham']
paul = people[people['name'] == 'Paul McCartney']

In [61]:
tc.distances.cosine(elton['tf-idf'][0] , paul['tf-idf'][0])

0.8250310029221779

In [62]:
tc.distances.cosine(elton['tf-idf'][0] , victoria['tf-idf'][0])

0.9567006376655429

In [63]:
# MAKING ASSIGNMENT MODEL

word_count_model = tc.nearest_neighbors.create(people , features=['word_count'] , label ='name' , distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [64]:
tfidf_model = tc.nearest_neighbors.create(people , features=['tf-idf'] , label = 'name' , distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [65]:
word_count_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 5.835ms      |

| Done         |         | 100         | 223.841ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-----------------------+------+
| query_label |  reference_label  |        distance       | rank |
+-------------+-------------------+-----------------------+------+
|      0      |     Elton John    | 2.220446049250313e-16 |  1   |
|      0      |   Cliff Richard   |  0.16142415258967036  |  2   |
|      0      |   Sandro Petrone  |  0.16822542751041114  |  3   |
|      0      |    Rod Stewart    |  0.16832716558706107  |  4   |
|      0      | Malachi O'Doherty |   0.177315545978884   |  5   |
+-------------+-------------------+-----------------------+------+
[5 rows x 4 columns]

In [66]:
tfidf_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 7.813ms      |

| Done         |         | 100         | 249.749ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+------------------------+------+
| query_label | reference_label  |        distance        | rank |
+-------------+------------------+------------------------+------+
|      0      |    Elton John    | -2.220446049250313e-16 |  1   |
|      0      |   Rod Stewart    |   0.7172196678927374   |  2   |
|      0      |  George Michael  |   0.7476009989692848   |  3   |
|      0      | Sting (musician) |   0.7476719544306141   |  4   |
|      0      |   Phil Collins   |   0.7511932487904706   |  5   |
+-------------+------------------+------------------------+------+
[5 rows x 4 columns]

In [67]:
word_count_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 8.817ms      |

| Done         |         | 100         | 243.899ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+------------------------+------+
| query_label |     reference_label      |        distance        | rank |
+-------------+--------------------------+------------------------+------+
|      0      |     Victoria Beckham     | -2.220446049250313e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |  0.20730703611504997   |  2   |
|      0      |      Adrienne Corri      |  0.21450978278754795   |  3   |
|      0      |     Beverly Jane Fry     |  0.21746646874079278   |  4   |
|      0      |      Raman Mundair       |  0.21769547499150488   |  5   |
+-------------+--------------------------+------------------------+------+
[5 rows x 4 columns]

In [68]:
tfidf_model.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 9.282ms      |

| Done         |         | 100         | 276.957ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]